version: '3.4'

services:
  rewardsdb:
    container_name: rewardsdb
    environment: 
     - POSTGRES_USER=admin
     - POSTGRES_PASSWORD=admin1234
     - POSTGRES_DB=RewardsDb
    restart: always
    ports:
     - "5433:5432"
    volumes:
     - postgres_data:/var/lib/postgresql/data/

  pgadmin:
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=libra_dn@hotmail.com
      - PGADMIN_DEFAULT_PASSWORD=admin1234
    restart: always
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/root/.pgadmin
     

  rewards.api:
    container_name: rewards.api
    build:
      context: .
      dockerfile: src/Rewards.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "DatabaseSettings:ConnectionString=Server=RewardsDb;Port=5432;Database=RewardsDb;User Id=admin;Password=admin1234;"
    depends_on:
      - rewardsdb
    ports:
      - "8002:80"
 